<% include ../partials/header %>

<div>
    <h1><%=post.title%></h1>
    <h6><%=post.message%></h6>
    <p>
        <em>Post author: <%= post.author.username %></em>
        <p class="small"><%=post.date.toDateString()%></p>
    </p>
    <p>
    
   <% if(currentUser && post.author.id.equals(currentUser._id)){ %>
      <a class="btn btn-warning mr-1" href="/posts/<%= post._id %>/edit" style="float: left">Edit</a>
      <form style="display:inline" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
      </form>
   <% } %>

   
   <hr>

   <div class="well">

           <div class="text-right">
               <a class="btn btn-success btn-sm" href="/posts/<%= post._id %>/comments/new">Add a Comment</a>
           </div>

   <% post.comments.forEach(function(comment){ %>
               <div class="row">
                   <div class="col-md-12">
                       <strong><%= comment.author.username %></strong>
                       <p><%= comment.text %></p>
                       <p class="small"><%=post.date.toDateString()%></p>
                   </div>
               </div>
               <p>
               </p>
           <% }); %>

   </div>

</div>

